.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

/* site-nav */

.nav {
    margin-left: 94px;
    display: flex;
}

.nav__item+.nav__item {
    margin-left: 50px;
}

.nav__link {
    position: relative;
    display: block;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}

.nav__link--current {
    color: var(--accent-color);
}

.nav__link--current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.contacts {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-content: center;
}

.contacts__item+.contacts__item {
    margin-left: 50px;
}

.contacts__link {
    display: flex;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts__icon {
    fill: var(--primary-text-color);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
}